<h5>Price Details</h5>

<hr>

<p>
  Total Items:
  <%= cart.cart_items.sum(:quantity) %>
</p>

<p>
  Total:
  ₹<%= cart.total_amount %>
</p>

<%= button_to "Proceed to Buy",
              '#',
              method: :post,
              class: "btn btn-warning w-100" %>